tests/logs/
data/
__pycache__
logs/
submission/
.vscode/
results/
logs_old/
build/
weights/
inference_imagery/
ftw_tools.egg-info/
*.ckpt
*.aux.xml
*.gpkg
.pytest_cache/
/results.csv
/austria_example_output_full.gpkg
/austria_example_output_full.tif
/dist
/weights/
/.ruff_cache/
/.pixi/
.DS_Store

# Python virtual environments
venv/
.venv/
env/
ENV/
*.pyc
*.pyo
*.egg-info/