data/
__pycache__
logs/
submission/
.vscode/
results/
logs_old/
build/
inference_imagery/
src/ftw.egg-info/
*.ckpt
*.aux.xml
*.gpkg
.pytest_cache/
/results.csv
/austria_example_output_full.gpkg
/austria_example_output_full.tif
