repos:

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.13.3
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [ --fix, --select, I ]
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: trailing-whitespace

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: v2.7.0
    hooks:
      - id: pyproject-fmt
