[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "ftw-tools"
version = "1.4.3"
license = "MIT"
license-files = ["LICENSE"]
description = "Fields of The World (FTW) Command Line Interface (CLI) for data management, ML processing, and more."
readme = 'README.md'
authors = [
    { name = "Hannah Kerner", email = "hkerner@asu.edu" },
    { name = "Matthias Mohr", email = "matthias@mohr.ws" },
    { name = "Caleb Robinson", email = "Caleb.Robinson@microsoft.com" },
    { name = "Aninda Ghosh", email = "aghosh57@asu.edu" },
    { name = "Chris Holmes", email = "cholmes@tgengine.org" },
    { name = "Snehal Chaudhari", email = "sschaud5@asu.edu" },
]
classifiers = [
  "Development Status :: 4 - Beta",
  "Programming Language :: Python :: 3",
]

requires-python = ">= 3.11,<3.13"
dependencies = [
    "click",                   # For CLI functionality
    "tqdm",                    # For progress bars
    "geopandas",               # For geospatial data handling
    "rasterio",                # For raster data
    "numpy",                   # For numerical computation
    "matplotlib",              # For plotting
    "torch",                   # For deep learning
    "kornia",                  # For computer vision
    "torchvision",             # For vision-related tasks in PyTorch
    "pytorch-lightning",       # For high-level PyTorch training loops
    "PyYAML",                  # For parsing YAML config files
    "wget",                    # For file downloads
    # pyarrow or later lead to an filesystem error in the fit function:
    # Error: Attempted to register factory for scheme 'file' but that scheme is already registered.
    # see https://github.com/apache/arrow/issues/44696
    "pyarrow==16.1.0",         # For in-memory data processing
    # see https://github.com/fieldsoftheworld/ftw-baselines/issues/77
    "odc-stac>=0.4.0",         # For handling STAC data via Open Data Cube
    "planetary-computer",      # For accessing Planetary Computer STAC data
    "pystac",                  # For reading STAC
    "rioxarray",               # For raster data handling
    "scipy",                   # For scientific computing
    "tensorboard",             # For PyTorch logging
    # see https://github.com/fieldsoftheworld/ftw-baselines/issues/79
    "torchgeo>=0.7.0",         # For geospatial deep learning
    "fiona",                   # For reading/writing vector data
    "pyproj",                  # For projections and CRSes
    "fiboa-cli==0.7.0",        # For storing data in Fiboa format
    "tenacity==9.1.2",         # For backoff / retry.
    "dask[distributed]==2025.5.1"  # For parallel processing
]

[project.urls]
Homepage = "https://fieldsofthe.world/"
Repository = "https://github.com/fieldsoftheworld/ftw-baselines.git"
Issues = "https://github.com/fieldsoftheworld/ftw-baselines/issues"
Changelog = "https://github.com/fieldsoftheworld/ftw-baselines/blob/main/CHANGELOG.md"

[project.optional-dependencies]
delineate-anything = [
  "ultralytics>8.3.0,<9.0",
]
dev = [
    "ruff",        # Code formatting tool
    "pytest",      # Testing framework
]
all = [
    "ftw-tools[dev,delineate-anything]",
]

[project.scripts]
ftw = "ftw_cli.cli:ftw"

[tool.setuptools]
packages = { find = { where = ["src"] } }
include-package-data = true  # Includes non-Python files specified in MANIFEST.in

[tool.ruff]
extend-exclude = ["*.ipynb"]

[tool.pytest.ini_options]
pythonpath = [
  "src",
]
